<!-- Dashboard Container -->
<div class="dashboard-container">

  <app-freelancer-header></app-freelancer-header>

    <!-- Dashboard Content
    ================================================== -->
<div class="dashboard-content-container" data-simplebar>
  <div class="dashboard-content-inner" >
    <div class="col-xl-12">
    <a  (click)="open()"  class="button ripple-effect big margin-top-30"><i class="icon-feather-plus"></i>Add New Project</a>

    </div>

<div *ngIf="opened==true" class="row" id="addNewProject">

  <!-- Dashboard Box -->
  <div class="col-xl-12">
    <div class="dashboard-box margin-top-0">

      <!-- Headline -->
      <div class="headline">
        <h3><i class="icon-feather-folder-plus"></i>Project Form</h3>
      </div>

      <div class="content with-padding padding-bottom-10">
        <div class="row">

          <div class="col-xl-4">
            <div class="submit-field">
              <h5 >Project Title</h5>
              <input #projectTitle type="text" class="with-border">
            </div>
          </div>

          <div class="col-xl-4">
            <div class="submit-field">
              <h5 >Project Date</h5>
              <input #projectDate type="date" class="with-border">
            </div>
          </div>

          <div class="col-xl-4">
            <div class="submit-field">
              <h5 >Money Earned</h5>
              <div class="row">
                <div class="col-xl-6">
                  <div class="input-with-icon">
                    <input #moneyEarned class="with-border" type="text" placeholder="">

                  </div>
                </div>

              </div>
            </div>
          </div>


          <div class="col-xl-12">
            <div class="submit-field">
              <h5 >Project Description</h5>
              <textarea #projectDesc cols="30" rows="5" class="with-border"></textarea>
              <div class="uploadButton margin-top-30">
                <input multiple (change)="GetImages($event)" class="uploadButton-input" type="file" accept="image/*, application/pdf" id="upload" />
                <label class="uploadButton-button ripple-effect" for="upload">Upload Files</label>
                <span class="uploadButton-file-name">Images that might be helpful</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-12">
    <a (click)="addNewProject(projectTitle,projectDate,moneyEarned,projectDesc )"  class="button ripple-effect big margin-top-30"><i class="icon-feather-plus"></i>Add Project</a>
  </div>

</div>

    <!-- Row -->
    <div class="row">
      <div *ngFor="let p of myProjects">
        <!-- Job Listing -->
        <a href="single-job-page.html" class="job-listing">

          <!-- Job Listing Details -->
          <div class="job-listing-details">
              <!-- Details -->
              <div class="job-listing-description">
                  <h3 class="job-listing-title">{{p.Title}}</h3>
                  <p class="job-listing-text">{{p.Description}}</p>
              </div>

              <!-- Bookmark -->
              <span class="bookmark-icon"></span>
          </div>

          <div class="row m-3">
            <div class="col-md-3 mb-4">
                <img src="assets/css/BackgroundImages/3.jpg" class="card-img-top" alt="Image">
            </div>
          </div>

          
          <!-- <div>
            <img src="assets\css\BackgroundImages\3.jpg" width="300" height="300">
            <img src="assets\css\BackgroundImages\3.jpg" width="300" height="300">
            <img src="assets\css\BackgroundImages\3.jpg" width="300" height="300">
            <img src="assets\css\BackgroundImages\3.jpg" width="300" height="300">
            <img src="assets\css\BackgroundImages\3.jpg" width="300" height="300">

          </div> -->

          <!-- <div class="row m-auto" >
            <div class="col-md-3 m-1">
              <img src="assets\css\BackgroundImages\3.jpg" class="img-fluid">
            </div>
            <div class="col-md-3 m-1">
              <img src="assets\css\BackgroundImages\3.jpg" class="img-fluid">
            </div>
            <div class="col-md-3 m-1">
              <img src="assets\css\BackgroundImages\3.jpg" class="img-fluid">
            </div>
              <div class="col-md-3 mb-2">
              <img src="assets\css\BackgroundImages\3.jpg" class="img-fluid">
            </div>    <div class="col-md-3">
              <img src="assets\css\BackgroundImages\3.jpg" class="img-fluid">
            </div>    <div class="col-md-3">
              <img src="assets\css\BackgroundImages\3.jpg" class="img-fluid">
            </div>    <div class="col-md-3">
              <img src="assets\css\BackgroundImages\3.jpg" class="img-fluid">
            </div>
          </div> -->

          <!-- <div class="row">
            <div class="col-md-4 mx-2">
              <img src="assets\css\BackgroundImages\3.jpg" class="img-fluid">
            </div>
            <div class="col-md-4 mx-2">
              <img src="assets\css\BackgroundImages\3.jpg" class="img-fluid">
            </div>
            <div class="col-md-4 mx-2">
              <img src="assets\css\BackgroundImages\3.jpg" class="img-fluid">
            </div>
          </div> -->

          <!-- Job Listing Footer -->
          <div class="job-listing-footer">
              <ul>
                  <li><i class="icon-material-outline-account-balance-wallet"></i>{{p.MoneyEarned}}</li>
                  <li><i class="icon-material-outline-access-time"></i>{{p.Date}}</li>
              </ul>
          </div>
      </a>
    </div>


    </div>



</div>
