<div appJQueryLoader>
  <!-- Header Should Be Here ⬇ -->
  <!-- Titlebar
================================================== -->

  <div id="titlebar" class="gradient">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ translate.instant("Checkout") }}</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- Content
================================================== -->
  <!-- Container -->
  <div class="container">

    <div class="row">
      <div class="col-xl-8 col-lg-8 content-right-offset">
        <!-- Hedaline -->

        <!-- Billing Cycle Radios  -->
        <div>
          <form [formGroup]="depositeGroup" (ngSubmit)="confirmAmount()">
            {{ translate.instant("Deposite Amount") }} :
            <input id="depositeAmount" type="number" formControlName="depositeAmount" />
            <br />
            <input class="btn btn-primary" type="submit" value="Confirm Amount" />
          </form>
        </div>
        <!-- Hedline -->
        <h3 class="margin-top-50">{{ translate.instant("Payment Method") }}</h3>

        <!-- Payment Methods Accordion -->

        <!-- Payment Methods Accordion / End -->

        <!-- <app-pay-pal></app-pay-pal> -->
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
        <div id="Success"></div>
      </div>

      <!-- Summary -->
      <div class="col-xl-4 col-lg-4 margin-top-0 margin-bottom-60">
        <!-- Summary -->
        <div class="boxed-widget summary margin-top-0">
          <div class="boxed-widget-headline">
            <h3>{{ translatee.instant("Summary") }}</h3>
          </div>
          <div class="boxed-widget-inner">
            <ul>
              <li>
                {{ translate.instant("Deposite Amount") }}
                <span>{{ PaymentAmount }}</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- Summary / End -->

        <!-- Checkbox -->
        <div class="checkbox margin-top-30">
          <input type="checkbox" id="two-step" />
          <label for="two-step"><span class="checkbox-icon"></span>
            {{ translate.instant("I agree to the") }}
            <a href="#"> {{ translate.instant("Terms and Conditions") }}</a>
            {{ translate.instant("and the") }}

            <a href="#">
              {{ translate.instant("Automatic Renewal Terms") }}
            </a></label>
        </div>
      </div>
    </div>
  </div>
  <!-- Container / End -->

  <!-- Footer Should Be Here ⬇ -->
</div>