<div appJQueryLoader>
  <header id="header-container" class="fullwidth">
    <!-- Header -->
    <div id="header">
      <div class="container">

        <!-- Left Side Content -->
        <div class="left-side">

          <!-- Logo -->
          <div id="logo" class="pb-5">
            <a routerLink="/"><img src="assets/images/logo.png" alt=""></a>
          </div>

          <!-- Main Navigation -->
          <nav id="navigation">
            <ul id="responsive">


              <li><a routerLink="/" class="current">{{translate.instant("home")}}</a></li>
              <li *ngIf="_authService.isClient()">




                <a routerLink="/AllFreelancers">{{translate.instant("Find a Freelancer")}}</a>


              </li>
              <li *ngIf="_authService.isClient()">
                <a routerLink="/client/postjob">{{translate.instant("Post a Task")}}</a>
              </li>
              <li *ngIf="_authService.isFreelancer()">
                <a routerLink="/AllTasks">{{translate.instant("Browse Tasks")}}</a>
              </li>
              <li *ngIf="_authService.isFreelancer()">
                <a routerLink="/plan">{{translate.instant("Plans")}}</a>
              </li>

              <li *ngIf=" !_authService.isLoggedIn()">
                <a routerLink="/Login">{{translate.instant("Login")}}</a>

              </li>


              <li>
                <a style="cursor: pointer;">{{ translate.instant("language") }}</a>
                <ul class="dropdown-nav">
                  <li><a (click)="switchLanguage('en')">English</a></li>
                  <li><a (click)="switchLanguage('ar')">العربية</a></li>
                </ul>
              </li>
              <li *ngIf="_authService.isClient()"><a routerLink="/client"><i
                    class="icon-material-outline-dashboard"></i>
                  {{translate.instant("Dashboard")}}</a></li>
              <li *ngIf="_authService.isFreelancer()"><a routerLink="/Freelancer"><i
                    class="icon-material-outline-dashboard"></i>
                  {{translate.instant("Dashboard")}} </a></li>

              <li *ngIf="_authService.isAdmin()"><a routerLink="/Admin"><i class="icon-material-outline-dashboard"></i>
                  {{translate.instant("Dashboard")}}</a></li>

              <li *ngIf="_authService.isLoggedIn()"><a (click)="logout()" style="cursor: pointer;"><i
                    class="icon-material-outline-power-settings-new"></i> {{translate.instant("Logout")}}</a>
              </li>
            </ul>

          </nav>
          <div class="clearfix"></div>
          <!-- Main Navigation / End -->

        </div>
        <!-- Left Side Content / End -->


        <!-- Right Side Content / End -->

        <div class="right-side">

          <!-- User Menu / End -->


          <!-- Mobile Navigation Button -->
          <span class="row justify-content-center ps-2 pt-4 ps-md-4 ps-sm-2 pt-sm-4">

            <span
              class="  fs-2 text-primary d-md-flex d-lg-none justify-content-center  col-md-1 col-sm-1 align-content-center">
              <button class="icon-feather-align-justify " (click)="sidebarVisible = true"></button>
            </span>
          </span>

        </div>
        <!-- Right Side Content / End -->

      </div>
    </div>
    <!-- Header / End -->

  </header>





  <p-sidebar [(visible)]="sidebarVisible" class="my-sidebar">
    <div class="sidebar-header ">
      <span>{{translate.instant("SideBar")}}</span>
    </div>
    <ul class=" sidebar-nav">
      <li><a routerLink="/" class="current">{{translate.instant("home")}}</a></li>
      <li *ngIf="_authService.isClient()">
        <a routerLink="/AllFreelancers">{{translate.instant("Find a Freelancer")}}</a>
      </li>
      <li *ngIf="_authService.isClient()">
        <a routerLink="/client/postjob">{{translate.instant("Post a Task")}}</a>
      </li>
      <li *ngIf="_authService.isFreelancer()">
        <a routerLink="/AllTasks">{{translate.instant("Browse Tasks")}}</a>
      </li>
      <li *ngIf="_authService.isFreelancer()">
        <a routerLink="/plan">{{translate.instant("Plans")}}</a>
      </li>
      <li *ngIf=" !_authService.isLoggedIn()">
        <a routerLink="/Login">{{translate.instant("Login")}}</a>
      </li>
      <li>
        <a style="cursor: pointer;">{{ translate.instant("language") }}</a>
        <ul class="dropdown-nav">
          <li><a (click)="switchLanguage('en')">English</a></li>
          <li><a (click)="switchLanguage('ar')">العربية</a></li>
        </ul>
      </li>
    </ul>
  </p-sidebar>

  <!--




</div>




</ul> -->