<header id="header-container" class="fullwidth dashboard-header not-sticky">
  <!-- Header -->
  <div id="header">
    <div class="container">
      <!-- Left Side Content -->
      <div class="left-side">
        <!-- Logo -->
        <div id="logo" style="height: 55%; width: 180px">
          <a routerLink="/Admin/Home"><img src="assets/images/logo.png" alt="" /></a>
        </div>

        <!-- Main Navigation -->
        <nav id="navigation">
          <ul id="responsive">
            <li>
              <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="activeHeader"
                routerLink="/Freelancer">{{translate.instant("Home")}}</a>
            </li>

            <li>
              <a routerLinkActive="activeHeader" routerLink="/Freelancer/Profile">{{translate.instant("Profile")}}</a>
            </li>

            <li>
              <a routerLinkActive="activeHeader" routerLink="/Freelancer/Projects">{{translate.instant("Projects")}}</a>
            </li>

            <li>
              <a routerLinkActive="activeHeader"
                routerLink="/Freelancer/Transaction">{{translate.instant("Transactions")}}</a>
            </li>
          </ul>
        </nav>
        <div class="clearfix"></div>
        <!-- Main Navigation / End -->
      </div>
      <!-- Left Side Content / End -->

      <!-- Right Side Content / End -->

      <!-- Right Side Content / End -->
    </div>
  </div>
  <!-- Header / End -->
</header>