<!-- Dashboard Content
	================================================== -->
<div appJQueryLoader>
  <div class="dashboard-content-container" data-simplebar>
    <div class="dashboard-content-inner">

      <!-- Row -->
      <div class="row">
        <form [formGroup]="createProjectPost"(ngSubmit)="addProjectPost()">
        
        <!-- Row -->
        <div class="row">
          <div class="dashboard-headline">
            <h3>Post a Project</h3>
          </div>            

          <!-- Dashboard Box -->
          <div class="col-xl-12">
            <div class="dashboard-box margin-top-0">

              <!-- Headline -->
              <div class="headline">
                <h3><i class="icon-feather-folder-plus"></i> Job Submission Form</h3>
              </div>

              <div class="content with-padding padding-bottom-10">
                <div class="row">

                  <div class="col-xl-4">
                    <div class="submit-field">
                      <h5>Project Title</h5>
                      <input formControlName="title" type="text" class="with-border">
                    </div>
                  </div>
                  <div class="col-xl-4">
                    <div class="submit-field">
                      <h5>Project Category</h5>
                      <select  formControlName="categoryId" title="Select Category">
                        <option *ngFor="let option of categories" [value]="option.id">{{option.valueName}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-xl-4">
                    <div class="submit-field">
                      <h5>Price</h5>
                      <div class="input-with-icon">
                        <input formControlName="price" class="with-border" type="text" placeholder="Price">
                        <i class="currency">USD</i>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-12">
                    <div class="submit-field">
                      <h5>Project Description</h5>
                      <textarea formControlName="description" cols="30" rows="5"></textarea>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-12">
            <input type="submit" class="button ripple-effect big margin-top-30" value="Post">
          </div>

        </div>
        <!-- Row / End -->
      </form>
      </div>

    </div>
    <!-- Dashboard Content / End -->
  </div>
