<div class="dashboard-sidebar">
  <div class="dashboard-sidebar-inner" data-simplebar>
    <div class="dashboard-nav-container">

      <!-- Responsive Navigation Trigger -->
      <a href="#" class="dashboard-responsive-nav-trigger">
        <span class="hamburger hamburger--collapse">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </span>
        <span class="trigger-title">Dashboard Navigation</span>
      </a>

      <!-- Navigation -->
      <div class="dashboard-nav">
        <div class="dashboard-nav-inner">

          <ul >
            <li style="color: #2a41e8;font-weight: 600;
            font-size: 14px;padding: 0 35px;margin-bottom: 5px;
    display: block;">{{translate.instant('Start')}}</li>
            <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/client"><i
                  class="icon-material-outline-dashboard"></i> {{translate.instant('Dashboard')}}</a>
            </li>
            <li><a routerLink="/"><i class="icon-material-outline-home"></i> {{translate.instant('Home')}}</a>
            <li><a routerLinkActive="active" routerLink="/client/updateProfile"><i class="icon-feather-user"></i> {{translate.instant('Update Profile')}}</a>
            </li>
            <li><a routerLinkActive="active" routerLink="/client/DepositeMoney"><i class="icon-line-awesome-money"></i>
              {{translate.instant('Deposite Money')}}</a>
            </li>
            <li><a routerLinkActive="active" routerLink="/client/transaction"><i class="icon-feather-edit"></i>
              {{translate.instant('Transactions')}}</a></li>
            <li><a routerLinkActive="active" routerLink="/client/reviews"><i
                  class="icon-material-outline-rate-review"></i> {{translate.instant('Reviews')}}</a></li>
          </ul>

          <ul >
            <li style="color: #2a41e8;font-weight: 600;
            font-size: 14px;padding: 0 35px;margin-bottom: 5px;
    display: block;">{{translate.instant('Organize and Manage')}}</li>
            <li><a><i class="icon-material-outline-business-center"></i> {{translate.instant('Tasks')}}</a>
              <ul>
                <li><a routerLink="/client/managejob">{{translate.instant('Manage Jobs')}} </a></li>
                <li><a routerLink="/client/postjob">{{translate.instant('Post a Job')}}</a></li>
              </ul>
            </li>
          </ul>

          <ul >
            <li style="color: #2a41e8;font-weight: 600;
            font-size: 14px;padding: 0 35px;margin-bottom: 5px;
    display: block;">{{translate.instant('Account')}}</li>
            <li><a (click)="logout()"><i class="icon-material-outline-power-settings-new"></i> {{translate.instant('Logout')}}</a></li>
          </ul>

        </div>
      </div>
      <!-- Navigation / End -->

    </div>
  </div>
</div>