<header id="header-container" class="fullwidth dashboard-header not-sticky">

  <!-- Header -->
  <div id="header">
    <div class="container">

      <!-- Left Side Content -->
      <div class="left-side">

        <!-- Logo -->
        <div id="logo" class="pb-5">
          <a routerLink="/"><img src="assets/images/logo.png" alt=""></a>
        </div>

        <!-- Main Navigation -->
        <nav id="navigation">
          <ul id="responsive">

            <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="activeHeader"
                routerLink="/Admin">Dashboard</a>

            </li>

            <li><a routerLinkActive="activeHeader" routerLink="/Admin/lookuptable">Lookup Tables</a>

            </li>

            <li><a routerLinkActive="activeHeader" routerLink="/Admin/lookupvalues">Lookup Values</a>
            </li>
            <li><a routerLinkActive="activeHeader" routerLink="/Admin/plan">Plans</a>
            </li>
            <li>
              <button (click)="logout()"><i class="icon-material-outline-power-settings-new"></i>
                Logout</button>
            </li>
          </ul>
        </nav>
        <div class="clearfix"></div>
        <!-- Main Navigation / End -->

      </div>
      <!-- Left Side Content / End -->


    </div>
  </div>
  <!-- Header / End -->

</header>
<div class="clearfix"></div>

<p-sidebar [(visible)]="sidebarVisible" class="my-sidebar">
  <div class="sidebar-header ">
    <span>SideBar</span>
  </div>
  <ul class=" sidebar-nav">
    <li><a routerLink="/Admin/Home">Home</a></li>
    <li><a routerLink="/Admin/lookuptable">Lookup Tables</a></li>
    <li><a routerLink="/Admin/lookupvalues">Lookup Values</a></li>
    <li><a routerLink="/Admin/plan">Plan</a></li>
  </ul>
</p-sidebar>