<!-- Wrapper -->
<div>
  <div class="clearfix"></div>
  <!-- Header Container / End -->
<!-- Titlebar
================================================== -->
<div class="single-page-header freelancer-header" data-background-image="assets/images/freelancerCover.png">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="single-page-header-inner">
					<div class="left-side">
						<div class="header-image freelancer-avatar"><img src="{{myFreelancer.image}}" alt=""></div>
						<div class="header-details">
							<h3>{{myFreelancer.username}} <span>{{myFreelancer.jobtitle}}</span><span *ngIf="myFreelancer.age!=0">{{myFreelancer.age}} years old</span></h3>
							<ul>
								<li><div class="star-rating" data-rating="5.0" ></div></li>
								<li><!-- <img class="flag" src="images/flags/de.svg" alt="" >--><span *ngIf="myFreelancer.country!=null"> {{myFreelancer.country}}</span><span *ngIf="myFreelancer.country!=null"> , {{myFreelancer.city}}</span><span *ngIf="myFreelancer.country!=null"> , {{myFreelancer.street}}</span> </li>
								<li><div class="verified-badge-with-title">{{ translate.instant('Verified') }}</div></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">

		<!-- Content -->
		<div class="col-xl-8 col-lg-8 content-right-offset">

			<!-- Page Content -->
			<div class="single-page-section">
				<h3 class="margin-bottom-25">{{ translate.instant('About Me') }}</h3>
				<p> {{myFreelancer.description}}</p>

				<!-- <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p> -->
			</div>

			<!-- Boxed List -->
			<div class="boxed-list margin-bottom-60">
				<div class="boxed-list-headline">
					<h3><i class="icon-material-outline-thumb-up"></i> {{ translate.instant('Work History and Feedback') }}</h3>
				</div>
				<ul class="boxed-list-ul">
					<li *ngFor="let p of myProjects">
						<div class="boxed-list-item">
							<!-- Content -->
							<div class="item-content" >
								<h4 >{{p.Title}}<span>Rated as Freelancer</span></h4>
								<div class="item-details margin-top-10">
									<div class="star-rating" data-rating="5.0"></div>
									<div class="detail-item"><i class="icon-material-outline-date-range" id="date"></i>{{p.Date}}</div>
								</div>
								<div class="item-description">
									<p>{{p.Description}}</p>
								</div>
							</div>
						</div>
					</li>

				</ul>

		<!-- Widget -->
    <div class="sidebar-widget">
      <h3>{{ translate.instant('Contact Info') }}</h3>
      <div class="task-tags">
        <p *ngIf="myFreelancer.phonenumber!=null">Mobile number : {{myFreelancer.phonenumber}}</p>
        <p *ngIf="myFreelancer.email!=null">Email : <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to={{myFreelancer.email}}">{{myFreelancer.email}}</a></p>
      </div>
    </div>
    <!-- Sidebar Widget -->

				<!-- Widget -->
				<div class="sidebar-widget">
					<h3>{{ translate.instant('Attachments') }}</h3>
					<div class="attachments-container">
						<a href="{{myFreelancer.cv}}" download="{{myFreelancer.username}}CV.pdf" class="attachment-box ripple-effect"><span>{{ translate.instant('CV') }}</span><i>PDF</i></a>
						<!-- <a routerLink="#" class="attachment-box ripple-effect"><span>Contract</span><i>DOCX</i></a> -->
					</div>
				</div>

			</div>
		</div>

	</div>
</div>


<!-- Spacer -->
<div class="margin-top-15"></div>
<!-- Spacer / End-->



</div>
<!-- Wrapper / End -->


<!-- Make an Offer Popup
================================================== -->

<div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a routerLink="#tab">Make an Offer</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab">

				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Discuss your project with David</h3>
				</div>

				<!-- Form -->
				<form method="post">

					<div class="input-with-icon-left">
						<i class="icon-material-outline-account-circle"></i>
						<input type="text" class="input-text with-border" name="name" id="name" placeholder="First and Last Name"/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Email Address"/>
					</div>

					<textarea name="textarea" cols="10" placeholder="Message" class="with-border"></textarea>

					<div class="uploadButton margin-top-25">
						<input class="uploadButton-input" type="file" accept="image/*, application/pdf" id="upload" multiple/>
						<label class="uploadButton-button ripple-effect" for="upload">Add Attachments</label>
						<span class="uploadButton-file-name">Allowed file types: zip, pdf, png, jpg <br> Max. files size: 50 MB.</span>
					</div>

				</form>

				<!-- Button -->
				<button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit">Make an Offer <i class="icon-material-outline-arrow-right-alt"></i></button>

			</div>
			<!-- Login -->
			<div class="popup-tab-content" id="loginn">

				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Discuss Your Project With Tom</h3>
				</div>

				<!-- Form -->
				<form method="post" id="make-an-offer-form">

					<div class="input-with-icon-left">
						<i class="icon-material-outline-account-circle"></i>
						<input type="text" class="input-text with-border" name="name2" id="name2" placeholder="First and Last Name" required/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" name="emailaddress2" id="emailaddress2" placeholder="Email Address" required/>
					</div>

					<textarea name="textarea" cols="10" placeholder="Message" class="with-border"></textarea>

					<div class="uploadButton margin-top-25">
						<input class="uploadButton-input" type="file" accept="image/*, application/pdf" id="upload-cv" multiple/>
						<label class="uploadButton-button" for="upload-cv">Add Attachments</label>
						<span class="uploadButton-file-name">Allowed file types: zip, pdf, png, jpg <br> Max. files size: 50 MB.</span>
					</div>

				</form>

				<!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect" type="submit" form="make-an-offer-form">Make an Offer <i class="icon-material-outline-arrow-right-alt"></i></button>

			</div>

		</div>
	</div>
</div>
