<form [formGroup]="addClientReview" (ngSubmit)="confirmAdd()">
  <div class="row margin-top-50">
    <div class="col-xl-12">
      <div class="submit-field">
        <h5>Review</h5>
        <textarea formControlName="review" class="with-border" cols="30" rows="10"placeholder="Review"></textarea>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="submit-field">
        <h5>Stars [1-5]</h5>
        <input formControlName="stars" type="number"class="with-border">
      </div>
    </div>
  </div>
  <input type="submit"class="button ripple-effect big" value="Add Review">
</form>
