<ng-container *ngIf="!isLoaded">
	<app-spinner>
	</app-spinner>
</ng-container>
<div *ngIf="isLoaded " appJQueryLoader>
	<div class="container">
		<div class="row">
			<div class="col-xl-10 col-lg-9 content-left-offset">

				<div class="row">
					<h3 class="col-4 page-title pt-3">All Tasks</h3>

					<div class="notify-box  col-8">
						<div class="switch-container">
						</div>

						<div class="row sort-by">
							<span class="col-4">Filter by category:</span>
							<select class="col-8" title="All Categories" (change)="selectOption($event)">
								<option *ngFor="let c of CategoryNames" [value]="c">
									{{c}}
								</option>
							</select>
						</div>
					</div>
				</div>

				<!-- Tasks Container -->
				<div class="tasks-list-container margin-top-35">

					<!-- Task -->
					<a href="single-task-page.html" class="task-listing" *ngFor="let p of Projects"
						routerLink="/ProjectPost/{{p.id}}">

						<!-- Job Listing Details -->
						<div class="task-listing-details">

							<!-- Details -->
							<div class="task-listing-description">
								<h3 class="task-listing-title">{{p.postTitle}}</h3>
								<ul class="task-icons">
									<li><i class="icon-material-outline-location-on"></i> {{p.location}}</li>
									<li><i class="icon-material-outline-access-time"></i> {{p.projectPostDate |
										date:'yyyy-MM-dd'}}</li>
								</ul>
								<p class="task-listing-text">{{p.description}} . . . . .</p>
								<div class="task-tags">
									<span>{{p.category_name}}</span>

								</div>
							</div>

						</div>

						<div class="task-listing-bid">
							<div class="task-listing-bid-inner">
								<div class="task-offers">
									<strong>{{p.averagePrice | currency:" ":"symbol-narrow":"1.2-2" }} -
										{{p.averagePrice+500 | currency:" ":"symbol-narrow":"1.2-2" }} EGP</strong>
									<span>Fixed Price</span>
								</div>
								<span *ngIf="CurrentRole=='Freelancer' "
									class="button button-sliding-icon ripple-effect">Bid Now <i
										class="icon-material-outline-arrow-right-alt"></i></span>
							</div>
						</div>
					</a>



					<!-- Pagination -->
					<!-- <div class="clearfix"></div>
				<div class="row">
					<div class="col-md-12">
						
						<div class="pagination-container margin-top-30 margin-bottom-60">
							<nav class="pagination">
								<ul>
									<li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
									<li><a href="#" class="ripple-effect">1</a></li>
									<li><a href="#" class="current-page ripple-effect">2</a></li>
									<li><a href="#" class="ripple-effect">3</a></li>
									<li><a href="#" class="ripple-effect">4</a></li>
									<li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div> -->
					<!-- Pagination / End -->

				</div>
				<!-- Tasks Container / End -->

			</div>
		</div>
	</div>
</div>