<div appJQueryLoader>
  <div class="dashboard-container">
    <app-freelancer-side-bar></app-freelancer-side-bar>

    <!-- Dashboard Content
        ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
      <div class="dashboard-content-inner">
        <div style="padding: 10px; text-align: center">
          <h1>Transaction</h1>
          <br /><br />
          <table class="table table-dark">
            <thead>
              <tr>
                <th style="color: white">{{ translate.instant("Date") }}</th>
                <th style="color: white"> {{ translate.instant("Amount") }}</th>
                <th style="color: white; text-align: center">{{ translate.instant("Description") }}</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="transaction">
                <tr *ngFor="let obj of transaction">
                  <td>{{ obj.dateOfTransaction }}</td>
                  <td>{{ obj.amount }}</td>
                  <td style="text-align: center">{{ obj.description }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>

        <!-- Footer -->

        <!-- Footer / End -->
      </div>
    </div>
    <!-- Dashboard Content / End -->

    <!-- Dashboard Container / End -->
  </div>
</div>