<div appJQueryLoader>
  <!-- Intro Banner

================================================== -->
  <!-- add class "disable-gradient" to enable consistent background overlay -->
  <div class="intro-banner" data-background-image="assets/css/BackgroundImages/3.jpg">
    <div class="container">

      <!-- Intro Headline -->
      <div class="row">
        <div class="col-md-12">
          <div class="banner-headline">
            <h3>
              <strong>{{ translate.instant('Hire experts or be hired') }}</strong>
              <br>
              <span>{{ translate.instant('Thousands of small businesses use') }}<strong class="color">{{
                  translate.instant(' Hireo ') }}</strong> {{ translate.instant('to turn their ideas into reality.')
                }}</span>
            </h3>
          </div>
        </div>
      </div>

      <!-- Search Bar -->
      <div class="row">
        <div class="col-md-12">
          <div class="intro-banner-search-form margin-top-95">

            <!-- Search Field -->
            <div class="intro-search-field with-autocomplete">
              <label for="autocomplete-input" class="field-title ripple-effect">{{ translate.instant('Where?')
                }}</label>
              <div class="input-with-icon">
                <input id="autocomplete-input" type="text" placeholder="{{ translate.instant('Online Job') }}">
                <i class="icon-material-outline-location-on"></i>
              </div>
            </div>

            <!-- Search Field -->
            <div class="intro-search-field">
              <label for="intro-keywords" class="field-title ripple-effect">{{ translate.instant('What job you want?')
                }}</label>
              <input id="intro-keywords" type="text" placeholder="{{ translate.instant('Job Title or Keywords') }}">
            </div>

            <!-- Button -->
            <div class="intro-search-button">
              <button class="button ripple-effect"
                onclick="window.location.href='jobs-list-layout-full-page-map.html'">{{
                translate.instant('Search') }}</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Stats -->
      <div class="row">
        <div class="col-md-12">
          <ul class="intro-stats margin-top-45 hide-under-992px">
            <li>
              <strong class="counter">1,586</strong>
              <span>{{ translate.instant('Jobs Posted') }}</span>
            </li>
            <li>
              <strong class="counter">3,543</strong>
              <span>{{ translate.instant('Tasks Posted') }}</span>
            </li>
            <li>
              <strong class="counter">1,232</strong>
              <span>{{ translate.instant('Freelancers') }}</span>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <!-- Content
================================================== -->
  <!-- Popular Job Categories -->
  <div class="section margin-top-65 margin-bottom-30">
    <div class="container">
      <div class="row">

        <!-- Section Headline -->
        <div class="col-xl-12">
          <div class="section-headline centered margin-top-0 margin-bottom-45">
            <h3>{{ translate.instant('Popular Job Categories') }}</h3>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <!-- Photo Box -->
          <a routerLink="/Category/1" class="photo-box small" data-background-image="assets/css/BackgroundImages/4.jpg">
            <div class="photo-box-content">
              <h3>{{ translate.instant('Smith craft men') }}</h3>
              <span>612</span>
            </div>
          </a>
        </div>

        <div class="col-xl-3 col-md-6">
          <!-- Photo Box -->
          <a routerLink="/Category/5" class="photo-box small" data-background-image="assets/css/BackgroundImages/5.jpg">
            <div class="photo-box-content">
              <h3>{{ translate.instant('Carpenters') }}</h3>
              <span>113</span>
            </div>
          </a>
        </div>

        <div class="col-xl-3 col-md-6">
          <!-- Photo Box -->
          <a routerLink="/Category/4" class="photo-box small" data-background-image="assets/css/BackgroundImages/6.jpg">
            <div class="photo-box-content">
              <h3>{{ translate.instant('Plumbers') }}</h3>
              <span>186</span>
            </div>
          </a>
        </div>

        <div class="col-xl-3 col-md-6">
          <!-- Photo Box -->
          <a routerLink="/Category/3" class="photo-box small" data-background-image="assets/css/BackgroundImages/7.jpg">
            <div class="photo-box-content">
              <h3>{{ translate.instant('Painters') }}</h3>
              <span>298</span>
            </div>
          </a>
        </div>

        <div class="col-xl-3 col-md-6">
          <!-- Photo Box -->
          <a routerLink="/Category/2" class="photo-box small" data-background-image="assets/css/BackgroundImages/8.jpg">
            <div class="photo-box-content">
              <h3>{{ translate.instant('Electricians') }}</h3>
              <span>549</span>
            </div>
          </a>
        </div>

        <div class="col-xl-3 col-md-6">
          <!-- Photo Box -->
          <a routerLink="/Category/1" class="photo-box small" data-background-image="assets/css/BackgroundImages/9.jpg">
            <div class="photo-box-content">
              <h3>{{ translate.instant('Tailors') }}</h3>
              <span>873</span>
            </div>
          </a>
        </div>

        <div class="col-xl-3 col-md-6">
          <!-- Photo Box -->
          <a routerLink="/Category/7" class="photo-box small"
            data-background-image="assets/css/BackgroundImages/10.jpg">
            <div class="photo-box-content">
              <h3>{{ translate.instant('Delivery men') }}</h3>
              <span>125</span>
            </div>
          </a>
        </div>

        <div class="col-xl-3 col-md-6">
          <!-- Photo Box -->
          <a routerLink="/Category/6" class="photo-box small"
            data-background-image="assets/css/BackgroundImages/11.jpg">
            <div class="photo-box-content">
              <h3>{{ translate.instant('Interior designers') }}</h3>
              <span>445</span>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
  <!-- Features Cities / End -->



  <!-- Features Jobs -->
  <div class="section gray margin-top-45 padding-top-65 padding-bottom-75">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">

          <!-- Section Headline -->
          <div class="section-headline margin-top-0 margin-bottom-35">
            <h3>{{ translate.instant('Recent Jobs') }}</h3>
            <a href="tasks-list-layout-1.html" class="headline-link">{{ translate.instant('Browse All Jobs') }}</a>
          </div>

          <!-- Jobs Container -->
          <div class="tasks-list-container compact-list margin-top-35">

            <!-- Task -->
            <a href="single-task-page.html" class="task-listing" *ngFor="let p of Projects">

              <!-- Job Listing Details -->
              <div class="task-listing-details">

                <!-- Details -->
                <div class="task-listing-description">
                  <h3 class="task-listing-title">{{p.postTitle}}</h3>
                  <ul class="task-icons">
                    <li><i class="icon-material-outline-location-on"></i> San Francisco</li>
                    <li><i class="icon-material-outline-access-time"></i> 2 minutes ago</li>
                  </ul>
                  <div class="task-tags margin-top-15">
                    <span>{{p.description}}</span>
                   
                  </div>
                </div>

              </div>

              <div class="task-listing-bid">
                <div class="task-listing-bid-inner">
                  <div class="task-offers">
                    <strong>{{p.averagePrice}} - {{p.averagePrice+50}} EGP</strong>
                    <span>Fixed Price</span>
                  </div>
                  <span class="button button-sliding-icon ripple-effect">{{ translate.instant('Bid Now') }} <i
                      class="icon-material-outline-arrow-right-alt"></i></span>
                </div>
              </div>
            </a>

          

          </div>
          <!-- Jobs Container / End -->

        </div>
      </div>
    </div>
  </div>
  <!-- Featured Jobs / End -->

  <!-- Photo Section -->
  <div class="photo-section" data-background-image="assets/css/BackgroundImages/12.jpg">

    <!-- Infobox -->
    <div class="text-content white-font">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <h2>{{ translate.instant('Hire experts or be hired.') }}</h2>
            <p>{{ translate.instant('Huge community') }}</p>
            <a routerLink="/plan" class="button button-sliding-icon ripple-effect big margin-top-20">{{
              translate.instant('Get Started') }} <i class="icon-material-outline-arrow-right-alt"></i></a>
          </div>
        </div>

      </div>
    </div>

    <!-- Infobox / End -->

  </div>
  <!-- Photo Section / End -->

  <!-- Icon Boxes -->
  <div class="section padding-top-65 padding-bottom-65">
    <div class="container">
      <div class="row">

        <div class="col-xl-12">
          <!-- Section Headline -->
          <div class="section-headline centered margin-top-0 margin-bottom-5">
            <h3>{{ translate.instant('How It Works?') }}</h3>
          </div>
        </div>

        <div class="col-xl-4 col-md-4">
          <!-- Icon Box -->
          <div class="icon-box with-line">
            <!-- Icon -->
            <div class="icon-box-circle">
              <div class="icon-box-circle-inner">
                <i class="icon-line-awesome-lock"></i>
                <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
              </div>
            </div>
            <h3>{{ translate.instant('Create an Account') }}</h3>
            <!-- <p>Bring to the table win-win survival strategies to ensure proactive domination going forward.</p> -->
          </div>
        </div>

        <div class="col-xl-4 col-md-4">
          <!-- Icon Box -->
          <div class="icon-box with-line">
            <!-- Icon -->
            <div class="icon-box-circle">
              <div class="icon-box-circle-inner">
                <i class="icon-line-awesome-legal"></i>
                <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
              </div>
            </div>
            <h3>{{ translate.instant('Post a Task') }}</h3>
            <!-- <p>Efficiently unleash cross-media information without. Quickly maximize return on investment.</p> -->
          </div>
        </div>

        <div class="col-xl-4 col-md-4">
          <!-- Icon Box -->
          <div class="icon-box">
            <!-- Icon -->
            <div class="icon-box-circle">
              <div class="icon-box-circle-inner">
                <i class=" icon-line-awesome-trophy"></i>
                <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
              </div>
            </div>
            <h3>{{ translate.instant('Choose an Expert') }}</h3>
            <!-- <p>Nanotechnology immersion along the information highway will close the loop on focusing solely.</p> -->
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Icon Boxes / End -->



		<!-- Highest Rated Freelancers -->
		<div class="section gray padding-top-65 padding-bottom-70 full-width-carousel-fix">
			<div class="container">
				<div class="row">

					<div class="col-xl-12">
						<!-- Section Headline -->
						<div class="section-headline margin-top-0 margin-bottom-25">
              <h3>{{ translate.instant('Highest Rated Freelancers') }}</h3>
              <a href="freelancers-grid-layout.html" class="headline-link">{{ translate.instant('Browse All Freelancers')
                }}</a>
						</div>
					</div>

					<div class="col-xl-12">
						<div class="default-slick-carousel freelancers-container freelancers-grid-layout">

							<!--Freelancer -->
							<div class="freelancer">

								<!-- Overview -->
								<div class="freelancer-overview">
									<div class="freelancer-overview-inner">

										<!-- Bookmark Icon -->
										<span class="bookmark-icon"></span>

										<!-- Avatar -->
										<div class="freelancer-avatar">
											<div class="verified-badge"></div>
											<a href="single-freelancer-profile.html">
                        <img *ngIf="Freelancers[0].image ; else staticImage" src="{{Freelancers[0].image}}" alt="">
                          <ng-template #staticImage>
                          <img 
													src="../../../../assets/images/photouser.jpg" alt="">
                        </ng-template>
                      </a>
										</div>

										<!-- Name -->
										<div class="freelancer-name">
											<h4><a href="single-freelancer-profile.html">{{Freelancers[0].username}}<img class="flag"
                          src="assets/images/flags/gb.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
											<span>{{Freelancers[0].jobtitle}}</span>
										</div>

										<!-- Rating -->
										<div class="freelancer-rating">
											<div class="star-rating" data-rating="5.0"></div>
										</div>
									</div>
								</div>

								<!-- Details -->
								<div class="freelancer-details">
									<div class="freelancer-details-list">
										<ul>
											<li>Location <strong><i class="icon-material-outline-location-on"></i>
													{{Freelancers[0].city}}</strong></li>
											<li>Rate <strong>$60 / hr</strong></li>
											<li>Job Success <strong>95%</strong></li>
										</ul>
									</div>
									<a href="single-freelancer-profile.html"
										class="button button-sliding-icon ripple-effect">View Profile <i
											class="icon-material-outline-arrow-right-alt"></i></a>
								</div>
							</div>
							<!-- Freelancer / End -->


              <!--Freelancer -->
							<div class="freelancer">

								<!-- Overview -->
								<div class="freelancer-overview">
									<div class="freelancer-overview-inner">

										<!-- Bookmark Icon -->
										<span class="bookmark-icon"></span>

										<!-- Avatar -->
										<div class="freelancer-avatar">
											<div class="verified-badge"></div>
											<a href="single-freelancer-profile.html">
                        <img *ngIf="Freelancers[1].image ; else staticImage" src="{{Freelancers[1].image}}" alt="">
                          <ng-template #staticImage>
                          <img 
													src="../../../../assets/images/photouser.jpg" alt="">
                        </ng-template>
                      </a>
										</div>

										<!-- Name -->
										<div class="freelancer-name">
											<h4><a href="single-freelancer-profile.html">{{Freelancers[1].username}}<img class="flag"
                          src="assets/images/flags/gb.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
											<span>{{Freelancers[1].jobtitle}}</span>
										</div>

										<!-- Rating -->
										<div class="freelancer-rating">
											<div class="star-rating" data-rating="5.0"></div>
										</div>
									</div>
								</div>

								<!-- Details -->
								<div class="freelancer-details">
									<div class="freelancer-details-list">
										<ul>
											<li>Location <strong><i class="icon-material-outline-location-on"></i>
													{{Freelancers[1].city}}</strong></li>
											<li>Rate <strong>$60 / hr</strong></li>
											<li>Job Success <strong>95%</strong></li>
										</ul>
									</div>
									<a href="single-freelancer-profile.html"
										class="button button-sliding-icon ripple-effect">View Profile <i
											class="icon-material-outline-arrow-right-alt"></i></a>
								</div>
							</div>
							<!-- Freelancer / End -->

              <!--Freelancer -->
							<div class="freelancer">

								<!-- Overview -->
								<div class="freelancer-overview">
									<div class="freelancer-overview-inner">

										<!-- Bookmark Icon -->
										<span class="bookmark-icon"></span>

										<!-- Avatar -->
										<div class="freelancer-avatar">
											<div class="verified-badge"></div>
											<a href="single-freelancer-profile.html">
                        <img *ngIf="Freelancers[2].image ; else staticImage" src="{{Freelancers[2].image}}" alt="">
                          <ng-template #staticImage>
                          <img 
													src="../../../../assets/images/photouser.jpg" alt="">
                        </ng-template>
                      </a>
										</div>

										<!-- Name -->
										<div class="freelancer-name">
											<h4><a href="single-freelancer-profile.html">{{Freelancers[2].username}}<img class="flag"
                          src="assets/images/flags/gb.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
											<span>{{Freelancers[2].jobtitle}}</span>
										</div>

										<!-- Rating -->
										<div class="freelancer-rating">
											<div class="star-rating" data-rating="5.0"></div>
										</div>
									</div>
								</div>

								<!-- Details -->
								<div class="freelancer-details">
									<div class="freelancer-details-list">
										<ul>
											<li>Location <strong><i class="icon-material-outline-location-on"></i>
													{{Freelancers[2].city}}</strong></li>
											<li>Rate <strong>$60 / hr</strong></li>
											<li>Job Success <strong>95%</strong></li>
										</ul>
									</div>
									<a href="single-freelancer-profile.html"
										class="button button-sliding-icon ripple-effect">View Profile <i
											class="icon-material-outline-arrow-right-alt"></i></a>
								</div>
							</div>
							<!-- Freelancer / End -->

              <!--Freelancer -->
							<div class="freelancer">

								<!-- Overview -->
								<div class="freelancer-overview">
									<div class="freelancer-overview-inner">

										<!-- Bookmark Icon -->
										<span class="bookmark-icon"></span>

										<!-- Avatar -->
										<div class="freelancer-avatar">
											<div class="verified-badge"></div>
											<a href="single-freelancer-profile.html">
                        <img *ngIf="Freelancers[3].image ; else staticImage" src="{{Freelancers[3].image}}" alt="">
                          <ng-template #staticImage>
                          <img 
													src="../../../../assets/images/photouser.jpg" alt="">
                        </ng-template>
                      </a>
										</div>

										<!-- Name -->
										<div class="freelancer-name">
											<h4><a href="single-freelancer-profile.html">{{Freelancers[3].username}}<img class="flag"
                          src="assets/images/flags/gb.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
											<span>{{Freelancers[3].jobtitle}}</span>
										</div>

										<!-- Rating -->
										<div class="freelancer-rating">
											<div class="star-rating" data-rating="5.0"></div>
										</div>
									</div>
								</div>

								<!-- Details -->
								<div class="freelancer-details">
									<div class="freelancer-details-list">
										<ul>
											<li>Location <strong><i class="icon-material-outline-location-on"></i>
													{{Freelancers[3].city}}</strong></li>
											<li>Rate <strong>$60 / hr</strong></li>
											<li>Job Success <strong>95%</strong></li>
										</ul>
									</div>
									<a href="single-freelancer-profile.html"
										class="button button-sliding-icon ripple-effect">View Profile <i
											class="icon-material-outline-arrow-right-alt"></i></a>
								</div>
							</div>
							<!-- Freelancer / End -->

              <!--Freelancer -->
							<div class="freelancer">

								<!-- Overview -->
								<div class="freelancer-overview">
									<div class="freelancer-overview-inner">

										<!-- Bookmark Icon -->
										<span class="bookmark-icon"></span>

										<!-- Avatar -->
										<div class="freelancer-avatar">
											<div class="verified-badge"></div>
											<a href="single-freelancer-profile.html">
                        <img *ngIf="Freelancers[4].image ; else staticImage" src="{{Freelancers[4].image}}" alt="">
                          <ng-template #staticImage>
                          <img 
													src="../../../../assets/images/photouser.jpg" alt="">
                        </ng-template>
                      </a>
										</div>

										<!-- Name -->
										<div class="freelancer-name">
											<h4><a href="single-freelancer-profile.html">{{Freelancers[4].username}}<img class="flag"
                          src="assets/images/flags/gb.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
											<span>{{Freelancers[4].jobtitle}}</span>
										</div>

										<!-- Rating -->
										<div class="freelancer-rating">
											<div class="star-rating" data-rating="5.0"></div>
										</div>
									</div>
								</div>

								<!-- Details -->
								<div class="freelancer-details">
									<div class="freelancer-details-list">
										<ul>
											<li>Location <strong><i class="icon-material-outline-location-on"></i>
													{{Freelancers[4].city}}</strong></li>
											<li>Rate <strong>$60 / hr</strong></li>
											<li>Job Success <strong>95%</strong></li>
										</ul>
									</div>
									<a href="single-freelancer-profile.html"
										class="button button-sliding-icon ripple-effect">View Profile <i
											class="icon-material-outline-arrow-right-alt"></i></a>
								</div>
							</div>
							<!-- Freelancer / End -->

<!--Freelancer -->
<div class="freelancer">

  <!-- Overview -->
  <div class="freelancer-overview">
    <div class="freelancer-overview-inner">

      <!-- Bookmark Icon -->
      <span class="bookmark-icon"></span>

      <!-- Avatar -->
      <div class="freelancer-avatar">
        <div class="verified-badge"></div>
        <a href="single-freelancer-profile.html">
          <img *ngIf="Freelancers[5].image ; else staticImage" src="{{Freelancers[5].image}}" alt="">
            <ng-template #staticImage>
            <img 
            src="../../../../assets/images/photouser.jpg" alt="">
          </ng-template>
        </a>
      </div>

      <!-- Name -->
      <div class="freelancer-name">
        <h4><a href="single-freelancer-profile.html">{{Freelancers[5].username}}<img class="flag"
            src="assets/images/flags/gb.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
        <span>{{Freelancers[5].jobtitle}}</span>
      </div>

      <!-- Rating -->
      <div class="freelancer-rating">
        <div class="star-rating" data-rating="5.0"></div>
      </div>
    </div>
  </div>

  <!-- Details -->
  <div class="freelancer-details">
    <div class="freelancer-details-list">
      <ul>
        <li>Location <strong><i class="icon-material-outline-location-on"></i>
            {{Freelancers[5].city}}</strong></li>
        <li>Rate <strong>$60 / hr</strong></li>
        <li>Job Success <strong>95%</strong></li>
      </ul>
    </div>
    <a href="single-freelancer-profile.html"
      class="button button-sliding-icon ripple-effect">View Profile <i
        class="icon-material-outline-arrow-right-alt"></i></a>
  </div>
</div>
<!-- Freelancer / End -->

						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- Highest Rated Freelancers / End-->













<!-- 
  <div *ngIf="Freelancers " class="container">
<div class="row">
  <div class="col-xl-12">

    <div class="section-headline margin-top-0 margin-bottom-25">
      <h3>{{ translate.instant('Highest Rated Freelancers') }}</h3>
      <a href="freelancers-grid-layout.html" class="headline-link">{{ translate.instant('Browse All Freelancers')
        }}</a>
    </div>
  </div>
  <div class="col-xl-12">
<div  class="default-slick-carousel freelancers-container freelancers-grid-layout">
          
      
            </div>
            </div>
          </div>
        </div> -->





        <!---->
<section>
<!-- 
        <p-carousel [value]="Freelancers" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions">
          <ng-template let-f pTemplate="item">
                     
            <div class="freelancer"   > -->

              <!-- Overview -->
              <!-- <div class="freelancer-overview">

                <div class="freelancer-overview-inner"> -->

                  <!-- Bookmark Icon -->
                  <!-- <span class="bookmark-icon"></span> -->

                  <!-- Avatar -->
                  <!-- <div class="freelancer-avatar">
                    <div class="verified-badge"></div>
                    <a href="single-freelancer-profile.html"><img src="{{Freelancers[3].image}}" alt=""></a>
                  </div> -->

                  <!-- Name -->
                  <!-- <div class="freelancer-name">
                    <h4><a href="single-freelancer-profile.html"> <img class="flag"
                          src="assets/images/flags/gb.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a>
                    </h4>
                    <span>{{f.username}}</span>
                  </div> -->

                  <!-- Rating -->
                  <!-- <div class="freelancer-rating">
                    <div class="star-rating" data-rating="5"></div>
                  </div>
                </div>
              </div> -->

              <!-- Details -->
              <!-- <div class="freelancer-details">
                <div class="freelancer-details-list">
                  <ul>
                    <li>{{ translate.instant('Location') }} <strong><i class="icon-material-outline-location-on"></i>
                        {{Freelancers[3].city}}</strong></li>
                    <li>{{ translate.instant('Rate') }} <strong>$60 / hr</strong></li>
                    <li>{{ translate.instant('Job Success') }} <strong>95%</strong></li>
                  </ul>
                </div>
                <a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">{{
                  translate.instant('View Profile') }} <i class="icon-material-outline-arrow-right-alt"></i></a>
              </div>
            </div>
          </ng-template>
      </p-carousel> -->
    </section>