<ng-container *ngIf="!isLoaded">
  <app-spinner>
  </app-spinner>
</ng-container>
<div *ngIf="isLoaded " appJQueryLoader>
  <!-- Intro Banner

================================================== -->
  <!-- add class "disable-gradient" to enable consistent background overlay -->
  <div class="intro-banner" data-background-image="assets/css/BackgroundImages/3.jpg">
    <div class="container">

      <!-- Intro Headline -->
      <div class="row">
        <div class="col-md-12">
          <div class="banner-headline">
            <h3>
              <strong>{{ translate.instant('Hire experts or be hired') }}</strong>
              <br>
              <span>{{ translate.instant('Thousands of small businesses use') }}<strong class="color">{{
                  translate.instant(' Hireo ') }}</strong> {{ translate.instant('to turn their ideas into reality.')
                }}</span>
            </h3>
          </div>
        </div>
      </div>

      <!-- Search Bar -->
      <div class="row">
        <div class="col-md-12">
          <div class="intro-banner-search-form margin-top-95">

           

            <!-- Button -->
            
          </div>
        </div>
      </div>

      <!-- Stats -->
      <div class="row">
        <div class="col-md-12">
          <ul class="intro-stats margin-top-45 hide-under-992px">
            <li>
              <div class="category-box-icon">
                <i class="icon-material-outline-person-pin"></i>
              </div>
              <strong class="counter">{{clientCount}}</strong>
              <span>{{ translate.instant('Clients') }}</span>
            </li>
            <li>
              <div class="category-box-icon">
                <i class="icon-material-outline-supervisor-account"></i>
              </div>
              <strong class="counter">{{FreeLancerCount}}</strong>
              <span>{{ translate.instant('Freelancers') }}</span>
            </li>
            <li>
              <div class="category-box-icon">
                <i class="icon-material-outline-assignment"></i>
              </div>
              <strong class="counter">{{TasksCount}}</strong>
              <span>{{ translate.instant('Tasks Posted') }}</span>
            </li>
           
          </ul>
        </div>
      </div>

    </div>
  </div>


  <!-- Content
================================================== -->


  <!-- Icon Boxes -->
  <div class="section padding-top-65 padding-bottom-65" style="background-color: #fff;">
    <div class="container">
      <div class="row">

        <div class="col-xl-12">
          <!-- Section Headline -->
          <div class="section-headline centered margin-top-0 margin-bottom-5">
            <h3>{{ translate.instant('How It Works?') }}</h3>
          </div>
        </div>

        <div class="col-xl-4 col-md-4">
          <!-- Icon Box -->
          <div class="icon-box with-line">
            <!-- Icon -->
            <div class="icon-box-circle">
              <div class="icon-box-circle-inner">
                <i class="icon-line-awesome-lock"></i>
                <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
              </div>
            </div>
            <h3>{{ translate.instant('Create an Account') }}</h3>
            <p>{{ translate.instant('Bring to the table') }}</p>
          </div>
        </div>

        <div class="col-xl-4 col-md-4">
          <!-- Icon Box -->
          <div class="icon-box with-line">
            <!-- Icon -->
            <div class="icon-box-circle">
              <div class="icon-box-circle-inner">
                <i class="icon-line-awesome-legal"></i>
                <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
              </div>
            </div>
            <h3>{{ translate.instant('Post a Task') }}</h3>
            <p>{{ translate.instant('Efficiently unleash') }} </p>
          </div>
        </div>

        <div class="col-xl-4 col-md-4">
          <!-- Icon Box -->
          <div class="icon-box">
            <!-- Icon -->
            <div class="icon-box-circle">
              <div class="icon-box-circle-inner">
                <i class=" icon-line-awesome-trophy"></i>
                <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
              </div>
            </div>
            <h3>{{ translate.instant('Choose an Expert') }}</h3>
            <p>{{ translate.instant('Nanotechnology ') }} </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Icon Boxes / End -->

  <!-- Popular Job Categories -->
  <div class="section margin-top-65 margin-bottom-30">
    <div class="container">
      <div class="row">

        <!-- Section Headline -->
        <div class="col-xl-12">
          <div class="section-headline centered margin-top-0 margin-bottom-45">
            <h3>{{ translate.instant('Popular Job Categories') }}</h3>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <!-- Photo Box -->
          <a routerLink="/Category/15" class="photo-box small"
            data-background-image="assets/css/BackgroundImages/4.jpg">
            <div class="photo-box-content">
              <h3>{{ translate.instant('Smith craft men') }}</h3>
              <span>{{FreelancersbyCatCount[4]}}</span>
            </div>
          </a>
        </div>

        <div class="col-xl-3 col-md-6">
          <!-- Photo Box -->
          <a routerLink="/Category/7" class="photo-box small" data-background-image="assets/css/BackgroundImages/5.jpg">
            <div class="photo-box-content">
              <h3>{{ translate.instant('Carpenters') }}</h3>
              <span>{{FreelancersbyCatCount[0]}}</span>
            </div>
          </a>
        </div>

        <div class="col-xl-3 col-md-6">
          <!-- Photo Box -->
          <a routerLink="/Category/12" class="photo-box small"
            data-background-image="assets/css/BackgroundImages/6.jpg">
            <div class="photo-box-content">
              <h3>{{ translate.instant('Plumbers') }}</h3>
              <span>{{FreelancersbyCatCount[1]}}</span>
            </div>
          </a>
        </div>

        <div class="col-xl-3 col-md-6">
          <!-- Photo Box -->
          <a routerLink="/Category/13" class="photo-box small"
            data-background-image="assets/css/BackgroundImages/7.jpg">
            <div class="photo-box-content">
              <h3>{{ translate.instant('Painters') }}</h3>
              <span>{{FreelancersbyCatCount[2]}}</span>

            </div>
          </a>
        </div>

        <div class="col-xl-3 col-md-6">
          <!-- Photo Box -->
          <a routerLink="/Category/16" class="photo-box small"
            data-background-image="assets/css/BackgroundImages/8.jpg">
            <div class="photo-box-content">
              <h3>{{ translate.instant('Electricians') }}</h3>
              <span>{{FreelancersbyCatCount[5]}}</span>
            </div>
          </a>
        </div>

        <div class="col-xl-3 col-md-6">
          <!-- Photo Box -->
          <a routerLink="/Category/14" class="photo-box small"
            data-background-image="assets/css/BackgroundImages/9.jpg">
            <div class="photo-box-content">
              <h3>{{ translate.instant('Tailors') }}</h3>
              <span>{{FreelancersbyCatCount[3]}}</span>
            </div>
          </a>
        </div>

        <div class="col-xl-3 col-md-6">
          <!-- Photo Box -->
          <a routerLink="/Category/17" class="photo-box small"
            data-background-image="assets/css/BackgroundImages/10.jpg">
            <div class="photo-box-content">
              <h3>{{ translate.instant('Delivery men') }}</h3>
              <span>{{FreelancersbyCatCount[6]}}</span>
            </div>
          </a>
        </div>

        <div class="col-xl-3 col-md-6">
          <!-- Photo Box -->
          <a routerLink="/Category/24" class="photo-box small"
            data-background-image="assets/css/BackgroundImages/11.jpg">
            <div class="photo-box-content">
              <h3>{{ translate.instant('Interior designers') }}</h3>
              <span>{{FreelancersbyCatCount[7]}}</span>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
  <!-- Features Cities / End -->



  <!-- Photo Section -->
  <div class="photo-section" data-background-image="assets/css/BackgroundImages/12.jpg">

    <!-- Infobox -->
    <div class="text-content white-font">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <h2>{{ translate.instant('Hire experts or be hired.') }}</h2>
            <p>{{ translate.instant('Huge community') }}</p>
            <a *ngIf="CurrentRole=='Freelancer' ; else ClientStart" routerLink="/plan"
              class="button button-sliding-icon ripple-effect big margin-top-20">{{
              translate.instant('Get Started') }} <i class="icon-material-outline-arrow-right-alt"></i></a>
            <ng-template #ClientStart>
              <a *ngIf="CurrentRole=='Client' ; else UserStart" routerLink="/client/postjob"
                class="button button-sliding-icon ripple-effect big margin-top-20">{{
                translate.instant('Get Started') }} <i class="icon-material-outline-arrow-right-alt"></i></a>
            </ng-template>
            <ng-template #UserStart>
              <a *ngIf="CurrentRole!='Admin' " routerLink="/SignUp" class="button button-sliding-icon ripple-effect big margin-top-20">{{
                translate.instant('Get Started') }} <i class="icon-material-outline-arrow-right-alt"></i></a>
            </ng-template>
          </div>
        </div>

      </div>
    </div>

    <!-- Infobox / End -->

  </div>
  <!-- Photo Section / End -->

  <!-- Features Jobs -->
  <div class="section gray margin-top-45 padding-top-65 padding-bottom-75">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">

          <!-- Section Headline -->
          <div class="section-headline margin-top-0 margin-bottom-35">
            <h3>{{ translate.instant('Recent Jobs') }}</h3>
            <a routerLink="/AllTasks" class="headline-link">{{ translate.instant('Browse All Jobs') }}</a>
          </div>

          <!-- Jobs Container -->
          <div class="tasks-list-container compact-list margin-top-35">

            <!-- Task -->

            <a class="task-listing" *ngFor="let p of Projects" routerLink="/ProjectPost/{{p.id}}">


              <!-- Job Listing Details -->
              <div class="task-listing-details">

                <!-- Details -->
                <div class="task-listing-description">
                  <h3 class="task-listing-title">{{p.postTitle}}</h3>
                  <ul class="task-icons">
                    <li><i class="icon-material-outline-location-on"></i> {{p.location}}</li>
                    <li><i class="icon-material-outline-access-time"></i>{{p.projectPostDate | date:'yyyy-MM-dd'}}</li>
                  </ul>
                  <div class="task-tags margin-top-15">
                    <span>{{p.category_name}}</span>

                  </div>
                </div>

              </div>

              <div class="task-listing-bid">
                <div class="task-listing-bid-inner">
                  <div class="task-offers">
                    <strong>{{p.averagePrice | currency:" ":"symbol-narrow":"1.2-2"}} - {{p.averagePrice+500 |
                      currency:" ":"symbol-narrow":"1.2-2"}} {{translate.instant('EGP') }}</strong>
                    <span>{{translate.instant('Fixed Price') }}</span>
                  </div>
                  <span *ngIf="CurrentRole=='Freelancer' " class="button button-sliding-icon ripple-effect">{{
                    translate.instant('Bid Now') }} <i class="icon-material-outline-arrow-right-alt"></i></span>
                </div>
              </div>
            </a>



          </div>
          <!-- Jobs Container / End -->

        </div>
      </div>
    </div>
  </div>
  <!-- Featured Jobs / End -->

</div>
<!-- Highest Rated Freelancers / End-->