<div appJQueryLoader></div>
<div class="dashboard-container">

  <app-client-side-bar></app-client-side-bar>

  <!-- Dashboard Content
	================================================== -->
  <div class="dashboard-content-container" data-simplebar>
    <div class="dashboard-content-inner">

      <!-- Dashboard Headline -->
      <div class="dashboard-headline">
        <h3>Manage Jobs</h3>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs" class="dark">
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/client">Dashboard</a></li>
            <li>Manage Jobs</li>
          </ul>
        </nav>
      </div>

      <!-- Row -->
      <div class="row">

        <!-- Dashboard Box -->
        <div class="col-xl-12">
          <div class="dashboard-box margin-top-0">

            <!-- Headline -->
            <div class="headline">
              <h3><i class="icon-material-outline-business-center"></i> My Job Listings</h3>
            </div>

            <div class="content">

              <p-table [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '25rem' }"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5,15,50]">


                <ng-template pTemplate="header">
                </ng-template>
                <ng-template pTemplate="body" let-lookuptable>
                  <tr>

                  </tr>
                </ng-template>
              </p-table>


              <ul class="dashboard-box-list">
                <li>
                  <!-- Job Listing -->
                  <div class="job-listing">

                    <!-- Job Listing Details -->
                    <div class="job-listing-details">

                      <div class="job-listing-description">
                        <h3 class="job-listing-title"><a href="#">Frontend React Developer</a> <span
                            class="dashboard-status-button green">Pending Approval</span></h3>

                        <!-- Job Listing Footer -->
                        <div class="job-listing-footer">
                          <ul>
                            <li><i class="icon-material-outline-date-range"></i> Posted on 10 July, 2019</li>
                            <li><i class="icon-material-outline-date-range"></i> Expiring on 10 August, 2019</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Buttons -->
                  <div class="buttons-to-right always-visible">
                    <a href="dashboard-manage-candidates.html" class="button ripple-effect"><i
                        class="icon-material-outline-supervisor-account"></i> Manage Candidates <span
                        class="button-info">0</span></a>
                    <a href="#" class="button gray ripple-effect ico" title="Edit" data-tippy-placement="top"><i
                        class="icon-feather-edit"></i></a>
                    <a href="#" class="button gray ripple-effect ico" title="Remove" data-tippy-placement="top"><i
                        class="icon-feather-trash-2"></i></a>
                  </div>
                </li>
              </ul>


            </div>
          </div>
        </div>

      </div>
      <!-- Row / End -->


      <app-dashboardsfooter></app-dashboardsfooter>


    </div>
  </div>
  <!-- Dashboard Content / End -->

</div>